@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli-Regular'),
        url('../../fonts/Muli-Regular.eot') format('eot'),
        url('../../fonts/Muli-Regular.ttf') format('ttf'),
        url('../../fonts/Muli-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli-Bold'),
        url('../../fonts/Muli-Bold.eot') format('eot'),
        url('../../fonts/Muli-Bold.ttf') format('ttf'),
        url('../../fonts/Muli-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli-SemiBold'),
        url('../../fonts/Muli-SemiBold.eot') format('eot'),
        url('../../fonts/Muli-SemiBold.ttf') format('ttf'),
        url('../../fonts/Muli-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli-ExtraBold'),
        url('../../fonts/Muli-ExtraBold.eot') format('eot'),
        url('../../fonts/Muli-ExtraBold.ttf') format('ttf'),
        url('../../fonts/Muli-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}