.blog {
    background: #F5F7FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__menu {
        padding-top: 24px;
        a {
            color: $text-color;
        }
        .btn_blue {
            width: 112px;
            height: 40px;
            margin-left: 50px;
            background: $main-color;
            border-radius: 20px;
            border: none;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
            &:hover {
                box-shadow: 0 0 10px $text-color;
            }
        }
    } 
    
    .posts {
        &__items{
            margin-top: 80px;
            display: grid;
            grid-template: repeat(2, minmax(580px, auto)) /  repeat(3, 365px);
            grid-auto-rows: minmax(580px, auto);
            gap: 32px;
        }
        &__item {
            background: #FFFFFF;
            border-radius: 20px;
            &-content {
                max-height: 170px;
                margin-top: 32px;
                padding: 0 24px;
                p {
                    font-size: 18px;
                    line-height: 27px;
                    color: rgba(26, 35, 77, 0.7);
                    margin-top: 16px;
                    font-weight: 700;
                }
            }
        }
        &__user {
            margin-top: 77px;
            padding: 0 24px;
            display: flex;
            justify-content: start;
            align-items: center;
            &_big {
                margin-top: 0;
                padding: 32px 200px;
            }
            &-name {
                margin-left: 12px;
                padding-right: 12px;
                border-right: 1px solid #DAE3EA;
                font-size: 14px;
                font-weight: 700;
                color: $text-color;
                &_fz18 {
                    font-size: 18px;
                }
            }
            &-date {
                margin-left: 12px;
                font-size: 14px;
                font-weight: 700;
                color: rgba(26, 35, 77, 0.7);
                &_fz18 {
                    font-size: 18px;
                }
            }
        }  
    }
    .button {
        margin: 80px 0 120px 0;
        &__next {
            display: block;
            margin: 0 auto;
            width: 158px;
            height: 56px;
            background: #DAE3EA;
            border-radius: 4px;
            border: none;
            font-size: 16px;
            color: #6D7D8B;
            &:hover {
                color: $main-color;
            }
            &-arrow {
                margin-left: 10px;
                &:hover  {
                        svg path {
                            fill: $main-color;
                    }
                } 
            }
        }
    }
}