.footer {
    min-height: 306px;
    background: #393D4D;
    padding-top: 60px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__logo {
        &-text {
            margin-top: 24px;
            font-size: 13px;
            line-height: 20px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
            width: 200px;
        }
    }
    &__features {
        //margin-left: 50px;
        width: 167px;
        &-title {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
        }
        &-links {
            margin-top: 26px;
            a {
                display: block;
                font-size: 13px;
                line-height: 25px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    &__company {
        //margin-left: 16px;
        width: 167px;
        &-title {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
        }
        &-links {
            margin-top: 16px;
            a {
                display: block;
                font-size: 13px;
                line-height: 25px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    &__contacts {
        //margin-left: 16px;
        width: 167px;
        &-title {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
        }
        &-links {
            margin-top: 26px;
            a, .address {
                display: block;
                font-size: 13px;
                line-height: 25px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    &__stay {
        position: relative;
        //margin-right: 75px;
        width: 266px;
        &-title, &-text {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
        }
        &-title {
            text-transform: uppercase;
        }
        &-text {
            margin-top: 25px;
        }
        &-input {
            width: 266px;
            height: 56px;
            margin-top: 24px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            border: none;
            padding-left: 16px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
        }
        &-btn {
            position: absolute;
            top: 98px;
            right: 12px;
            &:hover  {
                svg path {
                    fill: $main-color;
            }
        } 
        }
    }
    a:hover {
        color: $main-color;
        text-shadow:  1px 1px 2px, 0 0 1em $main-color;
    }
    &__copyright {
        margin-top: 28px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.8);
    }
}