.hamburger {
    position: fixed;
    top: 35px;
    right: 260px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: $main-color;
    }
    span.middle {
        width: 24px;
    }
}
