

.hub {
    min-height: 788px;
    margin-top: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
    }
    &__content {
        width: 465px;
        .title {
            margin-top: 0;
        }
    }
    &__link {
        margin-top: 40px;
        &-learn {
            color: $main-color;
            &:hover {
                color: $text-color;
            }
            &_hover {
                margin-left: 16px;
                &:hover  {
                    svg path {
                        fill: $text-color;
                    }
                } 
            }
        }
    }
    &__image {
        margin-right: 150px;
    }
}
