.map {
    min-height: 713px;
    background-color: $bg-color;
    padding-top: 63px;
     &__wrapper {
         display: flex;
         justify-content: flex-start;
         align-items: center;
     }
     &__content {
        width: 465px;
    }
    &__link {
        margin-top: 40px;
        &-learn {
            color: $main-color;
            &:hover {
                color: $text-color;
            }
            &_hover {
                margin-left: 16px;
                &:hover  {
                    svg path {
                        fill: $text-color;
                    }
                } 
            }
        }
    }
}