.schedule {
    position: relative;
    min-height: 500px;
    &__content {
        width: 465px;
    }
    &__link {
        margin-top: 40px;
        &-learn {
            color: $main-color;
            &:hover {
                color: $text-color;
            }
            &_hover {
                margin-left: 16px;
                &:hover  {
                    svg path {
                        fill: $text-color;
                    }
                } 
            }
        }
    }
    &__image {
        position: absolute;
        left: 100%;
        top: -220px;
        transform: translateX(-100%);
    }
}